// Hues _ Primary
$primary: #99AA38;
$primary_pastel: #ACD2ED;
$primary_10: #E1E289;
$primary_30: #99AA38;
$primary_50: #14591D;
$primary_70: #0A210F;

// Hues _ Secondary
$secondary: #49A078;
$secondary_pastel: #DCE1DE;
$secondary_10: #9CC5A1;
$secondary_30: #49A078;
$secondary_50: #216869;
$secondary_70: #1F2421;

// Hues _ Gray
$gray: #484848;
$middle_gray: #a5a3a3;
$light_gray: #d9d9d9;
$hover_gray: #f2f2f2;

// Hues _ Red
$red: #b91c1c;

// Hues _ Green
$green: #379b26;

$white: #ffffff;
$black: #181010;

// Pseudonyms
$error: $red;
$success: $green;